* {
    -darkBlue: #000033;
    -lightBlue: #ccf2ff;
    -main-bg-color: #ffe0b3;
    -main-border-color: -darkBlue;
}

.simpleBorder {
    -fx-border-color: BLACK;
    -fx-border-width: 1;
}

/* LEFT */
.rootLeft {
    -fx-background-color: -main-bg-color;
    -fx-padding: 10;
    -fx-spacing: 15;
    -fx-border-width: 0 3 0 0;
    -fx-border-color: -main-border-color;
}
.rootLeft .buttons {
    -fx-spacing: 20;
    -fx-padding: 0 0 15 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -main-border-color;
    -fx-alignment: CENTER;
}
.rootLeft .buttons .button {
    -fx-pref-width: 85;
    -fx-pref-height: 40;
}
.rootLeft .filters {
    -fx-padding: 15 0 0 0;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -main-border-color;
    -fx-alignment: CENTER-LEFT;
}
.rootLeft .filters .cellBox {
    -fx-alignment: CENTER-LEFT;
}
.rootLeft .filters .jfxGridBox {
    -fx-hgap: 10;
    -fx-vgap: 5;
}
.rootLeft .filters .boxClear {
    -fx-padding: 10 0 0 0;
    -fx-alignment: CENTER;
}

/* CENTER */
.rootCenter {
    -fx-background-color: -main-bg-color;
    -fx-padding: 10;
}
.rootCenter .caption,
.rootRight .caption{
    -fx-padding: 0 0 15 0;
    -fx-spacing: 20;
    -fx-font-weight: BOLD;
}
.rootCenter .jfxTable .btnDelete {
    -fx-padding: 0;
}
/*
.rootRight .caption {
    -fx-alignment: CENTER;
}
*/
/* RIGHT */
.rootRight {
    -fx-background-color: -main-bg-color;
    -fx-padding: 10;
    -fx-border-width: 0 0 0 3;
    -fx-border-color: -main-border-color;
}
.rootRight .jfxGridBox {
    -fx-border-width: 1;
    -fx-border-color: -main-border-color;
}

.rootRight .jfxGridBox .cellBox {
    -fx-padding: 5;
    -fx-alignment: CENTER-LEFT;
}
.rootRight .jfxGridBox .col0 {
    -fx-padding: 5 15 5 5;
}
.rootRight .jfxGridBox .row-odd {
     -fx-background-color: #eef2ff;
}